@import "https://fonts.googleapis.com/css2?family=Athiti&display=swap";
@import "https://kit-pro.fontawesome.com/releases/v6.5.1/css/pro.min.css";

@font-face {
    font-family: PaybAck;
    src: url(../fonts/PaybAck.ttf);
}

* {
    font-family: Athiti, sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

:root {
    --background: #fff;
    --primary: #ff5b00;
    --primary-u-1: #ff8645;

    --navbar-bg: rgb(24, 24, 24, 0.4);
    --navbar-border: 1px solid #e1e1e1;
    --navbar-text: white;

    --nav-link-default-color: rgb(255, 255, 255, 0.6);
    --nav-link-hover-color: rgb(255, 255, 255, 0.8);
    --nav-link-active-color: rgb(255, 255, 255);
    --nav-link-active-hover-color: rgb(255, 255, 255);

    --nav-link-default-bg: transparent;
    --nav-link-hover-bg: rgb(255, 255, 255, 0.1);
    --nav-link-active-bg: var(--primary);
    --nav-link-active-hover-bg: var(--primary-u-1);

    --section-odd: rgb(240, 240, 240);

    --card-background: #fff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden scroll;
    margin: 0;
    padding: 0;
}

body::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;

    background: var(--background);
    z-index: 1070;
    transition: 0.5s;
}

body.loaded::before {
    top: -100dvh;
}

body.loaded .navbar {
    opacity: 0;
    translate: 0 -70px;
    animation: fadeIn .75s forwards;
    animation-delay: calc(0.25s + .5s);
}

body.loaded .landing-page .title {
    opacity: 0;
    scale: 90%;
    animation: fadeOpacityIn 1s forwards;
    animation-delay: calc(0.2s + .5s);
}

body.loaded .landing-page .subtitle {
    opacity: 0;
    scale: 90%;
    animation: fadeOpacityIn 1s forwards;
    animation-delay: calc(0.3s + .5s);
}

@keyframes fadeOpacityIn {
    from {
        opacity: 0;
        scale: 90%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    position: absolute;
    top: 20px;
    width: 70dvw;
    height: 60px;
    background-color: var(--navbar-bg);
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: var(--navbar-border);
    z-index: 1069;
    transition: 0.23s;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.navbar.show {
    height: 100dvh;
    border: none;
}

.navbar-body {
    position: relative;
    width: 100vw;
    flex: 0 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.show .navbar-body {
    border-bottom: var(--navbar-border);
    border-style: dashed;
}

.navbar-content {
    position: absolute;
    top: 80px;
    width: 100vw;
    height: calc(100dvh - 80px);
    pointer-events: none;
}

.navbar-content .navbar-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navbar-content .nav-link {
    text-align: center;
}

.navbar.show .navbar-content {
    pointer-events: all;
}

.navbar-toggle {
    cursor: pointer;
    position: relative;
    width: 26px;
    height: 18px;
    overflow: hidden;
}

.line {
    position: absolute;
    left: 0;
    width: 40px;
    height: 2px;
    background-color: white;
    transition: 0.23s;
}

.navbar:not(.show) .navbar-toggle .line:first-child {
    top: 0;
}

.navbar:not(.show) .navbar-toggle .line:nth-child(2) {
    top: 50%;
    translate: 0 -50%;
}

.navbar:not(.show) .navbar-toggle .line:nth-child(3) {
    top: calc(100% - 2px);
}

.navbar:not(.show) .navbar-toggle .line:last-child {
    top: 100%;
    opacity: 0;
}

.navbar:not(.show) .navbar-toggle:hover .line:first-child {
    top: 0;
    opacity: 0;
}

.navbar:not(.show) .navbar-toggle:hover .line:nth-child(2) {
    top: 0;
    translate: 0 0;
}

.navbar:not(.show) .navbar-toggle:hover .line:nth-child(3) {
    top: 50%;
    translate: 0 -50%;
}

.navbar:not(.show) .navbar-toggle:hover .line:last-child {
    top: calc(100% - 2px);
    opacity: 1;
}

.navbar.show .navbar-toggle .line:first-child {
    opacity: 0;
}

.navbar.show .navbar-toggle .line:nth-child(2) {
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
}

.navbar.show .navbar-toggle .line:nth-child(3) {
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    rotate: -45deg;
}

.navbar.show .navbar-toggle .line:last-child {
    opacity: 0;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-button,
.nav-link {
    cursor: pointer;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 500px;
    transition: 0.23s;
    font-weight: bold;
    color: var(--nav-link-default-color);
}

.navbar-button:hover,
.nav-link:hover {
    color: var(--nav-link-hover-color);
    background-color: var(--nav-link-hover-bg);
}

.navbar-button.active,
.nav-link.active {
    color: var(--nav-link-active-color);
    background-color: var(--nav-link-active-bg);
}

.navbar-button.active:hover,
.nav-link.active:hover {
    color: var(--nav-link-active-hover-color);
    background-color: var(--nav-link-active-hover-bg);
}

.navbar-button,
.navbar-brand {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: var(--navbar-text);
}

.navbar-brand {
    text-shadow: 0 0 10px var(--navbar-text);
}

.navbar.show.scroll {
    position: fixed;
}

.navbar:not(.show).scroll {
    position: fixed;
    top: 0vw;
    width: 100vw;
    box-sizing: border-box;
    border-radius: 0;
    border-style: dashed;
    border-top: none;
    border-left: 0;
    border-right: 0;
    animation: fadeIn 1s forwards;
}

.scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    opacity: 0;
    pointer-events: none;
    right: 20px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding-bottom: 2px;
    background: var(--primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--nav-link-active-color);
    z-index: 1069;
    transition: 0.23s;
}

.scroll-to-top.show {
    bottom: 20px;
    opacity: 1;
    pointer-events: all;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 30px;
}

.card {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 22px;
    background: var(--card-background);
    border-radius: 22px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-img {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.card-img img {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    height: 100%;
}

.card-info {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(24, 24, 24, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: top 0.4s;
    box-sizing: border-box;
    padding: 22px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding-bottom: 5px;
    border-bottom: var(--navbar-border);
}

.card-tags {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.card-description {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.badge {
    font-size: 10px;
    padding: 0px 8px;
    background: var(--primary);
    border-radius: 20px;
    font-weight: bold;
}

.card:hover .card-info {
    top: 0;
}

.scroll-to-top:hover {
    color: var(--nav-link-active-hover-color);
    background: var(--nav-link-active-hover-bg);
}

section {
    width: 100vw;
    min-height: 400px;
    padding: 10px 0;
}

section > .container {
    margin: 0 auto;
}

section .title,
section .title,
section .title {
    font-size: 48px;
    font-weight: bold;
}

.landing-page::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-image: url("/img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

.landing-page::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: -1;
}

b {
    font-weight: bold;
    color: var(--primary);
}

a {
    text-decoration: none;
    transition: 0.23s;
}

a:hover {
    color: var(--primary-u-1);
}

.flex {
    display: flex;
}

section.landing-page {
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 6px 6px 10px rgb(0, 0, 0, 0.5);
    background: linear-gradient(to top, var(--background), transparent 50%);
}

.landing-page .title {
    font-size: 54px;
    font-weight: bold;
    color: white;
}

.landing-page .title b {
    color: var(--primary);
    font-weight: bold;
}

.landing-page .subtitle {
    font-size: 48px;
    margin-top: -60px;
    color: white;
    font-weight: bold;
}

#work {
    background: var(--section-odd);
}

.footer {
    position: relative;
    width: 100vw;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: var(--section-odd);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        translate: 0 -70px;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

@media (min-width: 0px) {
    .work-grid {
        grid-template-columns: 1fr;
    }

    .navbar {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        top: 0;
        width: 100%;
        border-radius: 0;
        flex-direction: column;
    }

    .navbar-body .navbar-menu,
    .navbar-body .navbar-button {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

    .landing-page .title {
        font-size: 32px;
    }

    .landing-page .subtitle {
        font-size: 18px;
        margin-top: -30px;
    }

    .flex {
        flex-direction: column;
    }
    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .work-grid {
        grid-template-columns: 1fr 1fr;
    }

    .navbar-body .navbar-menu {
        display: flex;
        gap: 20px;
    }

    .navbar-body .navbar-button {
        display: block;
    }

    .navbar-toggle {
        display: none;
    }

    .landing-page .title {
        font-size: 48px;
    }

    .landing-page .subtitle {
        font-size: 32px;
    }

    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .work-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .flex {
        flex-direction: row;
    }

    .navbar {
        top: 20px;
        border: var(--navbar-border);
        width: 70dvw;
        border-radius: 50px;
    }

    .landing-page .title {
        font-size: 54px;
    }
    .landing-page .subtitle {
        font-size: 48px;
    }

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .work-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}

*::-webkit-scrollbar {
    width: 10px;
    background: var(--background);
}

*::-webkit-scrollbar-thumb {
    background: var(--primary);
    transition: 0.23s;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--primary-u-1);
}
